:root {
    --primary: #D47E27;
    --secondary: #51A88B;

}

* {
    font-family: "roberto", sans-serif;
}

/* hero section  */
.hero {
    background: cyan url(./assets/bg.png) no-repeat center center;
    background-size: cover;
    min-height: 50vh;
}

.section-title {
    font-size: 3rem;
    border-bottom: 5px solid var(--secondary);
    width: 120px;
    margin: 5 rem auto;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.skills-list i {
    font-size: 6rem;
    display: block;
}

/* project section */

.contact {
    display: flex;
    justify-content: space-between;
    
}

.contact i {
    font-size: 3rem;
}

.footer {
    position: relative;
}

.up {
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background: white;
    color: var(--primary);
    border-radius: 50%;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

}